body {
	background-color: #14161b;
}
.container {
	max-width: 1100px;
	margin: auto;
}
.carousel {
	margin: auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.carousel-item {
	display: none;
}
.carousel-item.carousel-visible {
	display: block;
	animation: fadeIn 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.carousel-item img {
	width: 100%;
	max-width: 1100px;
	height: auto;
}
.carousel .carousel-action {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel .carousel-action button {
	border-radius: 50%;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #14161b91;
	color: #ffffff;
}
.carousel .carousel-action button:focus {
	outline: none;
}
.carousel .carousel-action button#prev {
	margin-left: 10px;
}
.carousel .carousel-action button#next {
	margin-right: 10px;
}
