@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
:root {
	--bodyColor: #f4e7dd;
	--containerColor: #eaf7f9;
	--boxColor: #edf9e9;
	--headingColor: #26ab98;
	--borderColor: #fa8553;
	--shadowColor: rgba(150, 150, 150, 0.74);
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	background-color: var(--bodyColor);
	color: #172020;
	height: 100%;
}
h1 {
	color: var(--headingColor);
	font-weight: 300;
	font-size: 40px;
	margin: 0.5rem;
}
.container {
	max-width: 500px;
	margin: 1rem auto;
	padding: 1rem 1rem;
	text-align: center;
	box-shadow: 7px 8px 42px -8px var(--shadowColor);
	background-color: var(--containerColor);
	border: 10px solid #fcf4f4;
	border-radius: 8px;
}
.converter {
	padding: 1rem;
	max-width: 460px;
	margin: 0.5rem auto;
}
.currency {
	display: flex;
	justify-content: center;
	margin: 0.5rem auto;
}
img {
	border-radius: 8px;
}

select {
	width: 170px;
	height: 35px;
	margin: 0.5rem 0.5rem;
	border-radius: 5px;
	font-size: 18px;
	border: 2px solid var(--borderColor);
	background-color: var(--boxColor);
}

input {
	width: 200px;
	height: 30px;
	margin: 0.5rem 0.5rem;
	border-radius: 5px;
	background-color: var(--boxColor);
	border: 2px solid var(--borderColor);
	text-align: center;
	font-size: 18px;
}
select:focus,
input:focus,
button:focus {
	outline: none;
}
footer p {
	margin: 10px auto;
}
footer a {
	margin: 0 10px;
}
