@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #f9f7cf;
    color: #172020;
    height: 100%;
}
h1 {
    color: #54e346;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 2rem auto;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 7px 8px 42px -8px rgba(150,150,150,0.74);
    background-color: #ffffff;
    border: 10px solid #ffffff;
    border-radius: 8px;
}
.converter {
    margin-top: 2rem;
}
.currency {
    margin: 1rem auto;
}
img {
    border-radius: 8px;
}
select {
    width: 170px;
    height: 35px;
    margin: 0.5rem 0.5rem;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid #172020;
}
input {
    width: 200px;
    height: 30px;
    margin: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 2px solid #172020;
    text-align: center;
    font-size: 18px;
}
select:focus, input:focus, button:focus {
    outline: none;
}
button {
    width: 340px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 16px;
    background-color: #54e346;
    color: #ffffff;
    border: 2px solid #49c73e;
    box-shadow: 7px 8px 42px -8px rgba(150,150,150,0.74);
    transition: all ease-in-out 300ms;
}
button:hover {
    cursor: pointer;
    transform: scale(0.97);
    font-size: 16px;
}