@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
	font-family: "Playfair Display", serif;
	background-color: #1e1e1e;
	color: #ffffff;
	letter-spacing: 1.2px;
}
.container {
	max-width: 1200px;
	margin: auto;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.search-box {
	margin: 2rem auto;
	text-align: center;
}
input {
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	background-color: #2b2b2b;
	border: none;
	color: #ffffff;
}
input:focus {
	outline: none;
}
ul {
	max-width: 1100px;
	display: block;
	margin: auto;
	padding: 1rem;
}
ul li {
	display: inline-block;
	width: 300px;
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
img {
	width: 100%;
	max-width: 120px;
	max-height: 120px;
	border-radius: 50%;
}
@media screen and (max-width: 580px) {
	input {
		width: 80%;
	}
	ul li {
		min-width: 250px;
		padding-left: 0;
	}
}
